<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type = "text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
        
        <link rel="stylesheet" type = "text/css" href="/stylesheets/app.css">
    </head>
    <body>
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item">
                        <i class="code icon"></i>George's Blog
                    </div>
                        <a class="item" href="/">Home</a>
                        <a class="item" href="/blogs/new">Create Post</a>
                        <div class="right menu">
                            
                            <a class="ui item" href="/login">LogIn</a>
                            <a class="ui item" href="/register">Sign Up</a>
                            
                        </div>
                            
                </div>
            </div>
            